<div class="dialog-container">

  <mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
      <p>Forgot Password</p>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <form [formGroup]="forgotPasswordGroup" class="dialog-form">

      <mat-form-field style="width: 25vw;margin-top: 1rem">
        <mat-label>
          Forgot Password
        </mat-label>
        <input formControlName="forgotPwd" matInput type="email" placeholder="Enter your email"
          placeholder="Enter email">
        <mat-error
          *ngIf="forgotPasswordGroup.get('forgotPwd').hasError('pattern') && !forgotPasswordGroup.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="forgotPasswordGroup.get('forgotPwd').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="button">
        <button type="submi" mat-raised-button color="primary" style="margin-right:1rem;"
          (click)="forgotPassword()">Send Password</button>
        <button mat-raised-button color="primary" (click)="closeFogotPassword()">Close</button>
      </div>

    </form>
  </div>



</div>
