<mat-card>
  <mat-card-header>
    <mat-card-title>Dashboard</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="cards">
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><span style="font-size: x-large;">Total Categories</span></mat-card-title>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content class="card-content">
      <p><span style="font-size: x-large;">{{categories}}</span></p>
      <button mat-raised-button color="primary" routerLink="/cafe/managecategory">View Categories</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><span style="font-size: x-large;">Total Products</span></mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p><span style="font-size: x-large;">{{products}}</span></p>
      <button mat-raised-button color="primary" routerLink="/cafe/products">View Product</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><span style="font-size: x-large;">Total Bills</span></mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p><span style="font-size: x-large;">{{bills}}</span></p>
      <button mat-raised-button color="primary" routerLink="/cafe/bills">View Bills</button>
    </mat-card-content>
  </mat-card>
</div>
